.about {
    padding: 2rem 0 4rem;
    background-color: $dark-bg-primary;
    &__header {
        padding: 2rem 0;
        text-align: center;
        &__content {
            max-width: 850px;
            margin: 0 auto;
        }
    }

    &__content {
        margin: 0 auto 1rem;
        @include media('md') {
            margin-bottom: 1.5rem;
        }
        &__left {
            text-align: left;
        }
        &__right {
            text-align: right;
        }
    }

    &__partners {
        background-color: $dark-bg-secondary;
        @include reset-list; 
        border-radius: 1rem;
        margin: 0 auto 4rem;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        align-items: center;
        max-width: 100%;
        &__item {
            width: 50%;
            text-align: center;
            @include media('md') {
                width: 25%;
            }
            &:nth-child(2) {
                border-left: 2px solid transparent;
                @include media('md') {
                    border-left: 2px solid $dark-accent;
                }
            }
            img {
                width: 90%;
                @include media('md') {
                    width: 75%;
                }
            }
        }
    }
}