.boxes {
    @include reset-list;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-bottom: 3rem;
    gap: 1rem;
    &__item {
        box-shadow: rgba(0, 0, 0, 0.25) 0px 25px 50px -12px;
        border-radius: 15px;
        overflow: hidden;
        width: 100%;
        padding: 2rem 1rem 1rem;
        text-align: center;
        &:hover {
            transition: background-color 0.35s, transform 0.35s;
            background-color: $color-primary;
            transform: translateY(-0.5rem);
            .boxes__icon svg {
                transition: color 0.35s;
                color: $color-secondary;
            }
            .boxes__title {
                transition: color 0.35s;
                color: $color-tertiary;
            }
            .boxes__content {
                transition: color 0.35s;
                color: $color-tertiary;
            }
        }
        @include media('lg') {
            flex: 1 1 30%;
        }
    }
    &__icon {
        margin-bottom: 2rem;
        svg {
            color: $color-secondary;       
        }
    }
    &__img {
        width: 40%;
        height: auto;
        border-radius: 15px;
        
    }
    &__title {
        color: $color-primary;
        font-size: $fs-md;
        font-weight: $fw-5;
        margin-bottom: 1rem;
        @include media('md') {
            font-size: $fs-md;
        }
    }
}