//colore 
$color-alzarin: #e74c3c;
$color-sun-flower: #f1c40f;
$color-mine-shaft: #333333;
$color-gallery: #ecf0f1;
$color-white: #FFFFFF;
$color-black: #000000;
$color-mazarine-blue: #273c75;
$color-skirret-green: #44bd32;
$color-nanohanacha-gold: #e1b12c;
$color-double-dragon: #ff9f43;
$color-blueprint-blue: #001738;
$color-blueprint-orange: #FF5722;
$color-blueprint-gray: #BCBCBC;

//redes
$color-facebook: #3b5998;
$color-whatsapp: #25D366;

$color-primary: $color-blueprint-blue;
$color-secondary: $color-blueprint-orange;
$color-tertiary: $color-blueprint-gray;
$color-font: $color-mine-shaft;