.image {
    &--background {
        width: 100%;
        height: 300px;
        position: relative;
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;
        @include media('sm') {
            height: 350px;
        }
    }
    //overlays
    &__overlay {
        background-color: rgba(black, .5);
        width: 100%;
        height: 100%;
        position: absolute;
    }

    &__logo {
        width: 370px;
        max-width: 100%;
        margin-bottom: 1.5rem;
    }

    &__logo-icono {
        width: 240px;
        max-width: 100%;
        margin-bottom: 2.5rem;
    }

    &__logo-about {
        width: 540px;
        max-width: 100%;
        margin-bottom: 2rem;
        margin-top: 1rem;
    }

    &__logo-navbar {
        width: 240px;
        @include media('lg') {
            width: 240px;
        }
    }

    
}